[Unit]
Description=WaterIt Data Portal
After=multi-user.target

[Service]
Type=simple
RootDirectory={location}/waterIt/server
Environment=FLASK_APP=dataportal.py
ExecStart=/usr/bin/python -m flask run
Restart=on-abort

[Install]
WantedBy=multi-user.target
