[Unit]
Description=WaterIt MQTT Operator
After=multi-user.target

[Service]
Type=simple
RootDirectory={location}/waterIt/server
ExecStart=/usr/bin/python commandoperator.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
