[Unit]
Description=WaterIt MQTT Operator
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python {location}/waterIt/server/operator.py {location}/waterIt/server/config.json
Restart=on-abort

[Install]
WantedBy=multi-user.target
