{
  "host": "localhost",
  "port": 1883,
  "username": "user",
  "password": "secret",
  "incomingtopic": "device/out",
  "outgoingtopic": "device/in",
  "database": "db.sqlite",
  "humidityThreshold": 64,
  "pumpSeconds": 2,
  "sleepMinutes": 15
}
